body{
    background-color: antiquewhite;
    h1{
    color: rgb(46, 65, 236);
    }
    .change{
        background-image: url("./../../assets/img/proba.png");
    }
    .autoprefixer {
        user-select: none;
        }
    }